In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../data/day.csv', sep=',')

In [13]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [14]:
df_hour = pd.read_csv("../data/hour.csv")

In [15]:
print("Dataset hour.csv:")

Dataset hour.csv:

In [16]:
display(df_hour.head())

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [17]:
df1 = df[["instant", "dteday", "season", "temp", "hum", "windspeed"]]

In [18]:
print("Dataframe baru (df1):")

Dataframe baru (df1):

In [19]:
display(df1.head())

   instant      dteday  season      temp       hum  windspeed
0        1  2011-01-01       1  0.344167  0.805833   0.160446
1        2  2011-01-02       1  0.363478  0.696087   0.248539
2        3  2011-01-03       1  0.196364  0.437273   0.248309
3        4  2011-01-04       1  0.200000  0.590435   0.160296
4        5  2011-01-05       1  0.226957  0.436957   0.186900

In [20]:
df1.to_csv("../data/latihan01.csv", index=False)

In [21]:
print("File df1 berhasil disimpan ke ../data/latihan01.csv")

File df1 berhasil disimpan ke ../data/latihan01.csv